# Ignore log files
*.txt
files_to_track.txt
codesync.py
updatefile.py
*.log

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore virtual environments
venv/
env/
